#client{:data => {:id => current_user.id}}

#add-appt
  -if @nothing_is_going_on
    %h1 Request an Appointment
    =render 'requests/make_appointment'

#appt-requests
  =render @requests

#confirmed-visits
  =render @visits
