
-if @appointment_requests.blank?
  = link_to "Schedule appointment", new_request_path

=render partial: 'appointment_requests/appointment_request', collection: @appointment_requests

=render @confirmed_appointments

