.makeappointment
  %h1 Request an Appointment
  .control-group
    .controls.align-center.margintop
      = render "/users/dashboard/#{current_user.role}"
-#%p Find me in app/views/users/show.html.haml
-#%p
  -#current user is
  -#= current_user.inspect

