-if current_user.is_client?
  %h3 A vet will be with you shortly

-else
  %h2 New Appointment Request
  %h3
    #{request.client.first_name} #{request.client.last_name}
    %small #{request.client.address}

  .request-address-data.hide{ data: { address: request.client.address.parameterize } }

  =link_to "Accept", requests_accept_path(request_id: request.id), remote: :true, class: 'btn btn-success accept_link', data: { address: request.client.address.parameterize }
  =link_to "Decline", requests_decline_path(request_id: request.id), remote: :true, class: 'btn btn-danger decline_link', data: { address: request.client.address.parameterize }
