-if current_user.is_client?
  %h3 A vet will be with you shortly

-else
  %ul
    %li
      Client:
      %strong
        = request.client.first_name
        = request.client.last_name
    %li
      Address:
      %strong
        = request.client.address
    %li
      Accept or decline:
      %ul
        %li=link_to "Accept", requests_accept_path(request_id: request.id), remote: :true
        %li=link_to "Decline", requests_decline_path(request_id: request.id), remote: :true
  = request.inspect
