=params

=form_for @request do
  - 7.times do |day|
    %p
      day
      = day
      %input{name: "day_starts[]", :value => "9"}
      %input{name: "day_ends[]", :value => "17"}
  %textarea{name: "type"}
    b
  %input{type: "submit"}
