=form_for @request do |f|
  -7.times do |day|
    =f.hidden_field :day_starts, value: ["9","9","9","9","9","9","9"]
    =f.hidden_field :"day_ends", value: ["17","17","17","17","17","17","17"]

  =f.submit 'Complete Request'
