<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="login">
        <h1>Sign in to Mobile<span class="vet">Vet</span></h1>
        <form class="form-horizontal">
          <div class="control-group">
            <div class="controls">
              <%= f.email_field :email, :id => "inputEmail", :placeholder => "Email"  %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password, :id => "inputPassword", :placeholder => "Password" %>
            </div>
          </div>

          <%#<div class="control-group">%>
            <%#<div class="controls">%>
              <%#<label class="checkbox">%>
                <%#<input type="checkbox"> Remember me%>
              <%#</label>%>
              <%#<button type="submit" class="btn btn-primary" id="sign-in-button">Sign in!</button>%>
            <%#</div>%>
          <%#</div>%>
        </form>

        <h4>New to Mobile<span class="vet">Vet</span>?</h4>
        <button type="submit" class="btn btn-large" id="register-button"><img src="/assets/catdog-70.png" class="img-rounded"><br />Register your pet</button>
      </div>
<% end %>

<%= render "devise/shared/links" %>
