.procedure
  = form_for BillingItem.new, :remote => true do |f|
    = f.hidden_field :item_id, value: item.id
    = f.hidden_field :visit_id, value: visit.id
    %button.btn.btn-success{type: "submit"}
      %i.icon-star.icon-white
      =item.name