// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas {
  height: 300px;
  width: 95%;
  margin: 10px auto;
}

.apt-line1 {
  font-size:1.5em;

}

.apt-line2 {
  font-weight:bolder;
  padding: 5px;
}

.float-right-block {
  display: inline-block;
  float: right;
}

.abs-top-right {
  position: absolute;
  top: 20px;
  right: 10px;
}

.relative {
  position: relative;
}
