=params
%form{action: "schedule", method: "post"}
  - 7.times do |day|
    %p
      day
      = day
      %input{name: "day_start[]", :value => "9"}
      %input{name: "day_end[]", :value => "17"}
  %textarea{name: "type"}
    a
  %input{type: "submit"}
